.all-posts-menu {
    color: #52796f;
    text-decoration: none;
}

.all-posts-menu a{
    color: #2f3e46;
    text-decoration: none;
}
.all-posts-menu-title {  
    height: 200px;
    width: 300px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.all-posts-menu-text {
    height: 100%;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.all-posts-menu-box {
    border-bottom: 0.2px solid grey;
    margin: 2em;
    padding: 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 568px) {

    .all-posts-menu-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
           
      }

    .all-posts-menu-text {
        height: auto;
        width: 300px;
    }
   
    }


