body {
    font-family: 'Noto Sans JP', sans-serif;
    background: #780206;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #061161, #780206);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #061161, #780206); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.nav-list {
    background-attachment: white;
    height: 10px;
    box-shadow: 0px 0px 10px gray;
    margin: 2em;
    padding: 1em 1em;
    border-radius: ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
}

.nav-item {
    list-style: none;
    margin: 2rem;
}

.nav-item a {
    color: rgb(158, 158, 158) ;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
    padding: 0;
}

.nav-item:first-child a {
    margin-right: auto;
    margin-left: 2rem;
    padding: 0;
    height: 100%;
}

.nav-item a:hover {
        color: #072040;
        box-shadow: 0 0.5em 0.5em -0.4em #072040;
        /* transition-delay:  1s; */
        transform: translateY(-0.25);
        cursor: pointer;
    }

.text h1 {
        font-family: 'Tomorrow', sans-serif;;
        font-size: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0.3em;
        color: white;
 }

 .text p {
     color: white;
     /* border: 2px solid white; */
     height: 400px;
     margin: 2em;
     padding: 1em 1em;
     border-radius: ;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     font-size: 1rem;
 }