.navbar-flex {
    background-color: #52796f;
    height: 10px;
    box-shadow: 0px 0px 10px gray;
    margin: 2em;
    padding: 1em 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.nav-social-contact{
    display: flex;
    align-items: center;
}

.nav-social-contact li{
    margin-right: 20px;
    list-style: none;
}

.nav-social-contact a {
    color: #cad2c5;;
}

.nav-menu{
    display: flex;
    align-items: center;
    color: #cad2c5;
}

.nav-menu li{
    margin-left: 20px;
    list-style: none;
}

.nav-menu a{
    color: #cad2c5;
    text-decoration: none;
}

.navbar-flex img {
    height: 40px;
    width: 70px;
    border-radius: 20px;
    opacity: 70%;
}
