body {
    font-family: font-family: 'Noto Sans JP', sans-serif;
}

.nav-list {
    background-attachment: white;
    height: 10px;
    box-shadow: 0px 0px 10px gray;
    margin: 2em;
    padding: 1em 1em;
    border-radius: ;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1rem;
}

.nav-item {
    list-style: none;
    margin: 2rem;
}

.nav-item a {
    color: rgb(158, 158, 158) ;
}

.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
    padding: 0;
}

.nav-item:first-child a {
    margin-right: auto;
    margin-left: 2rem;
    padding: 0;
    height: 100%;
}

.nav-item a:hover {
        color: #072040;
        box-shadow: 0 0.5em 0.5em -0.4em #072040;
        /* transition-delay:  1s; */
        transform: translateY(-0.25);
        cursor: pointer;
    }

.nav-item:nth-child(2n) {
    align-items: center;
}


.text h1 {
    font-family: 'Tomorrow', sans-serif;;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0.3em;
    color: #072040;
}

/* Images */

img {
    width: 30%;
    margin: calc(8%/6);
    height: 300px; 
    object-fit: cover; 
    overflow: hidden; 
    filter: grayscale(1);
    transition: 1s;
  }

  img:hover {
    filter: grayscale(0)

}

.posts {
    width: 30%;
    margin: calc(8%/6);
    height: 300px; 
    
}


