.body   {
    background-color: #cad2c5;
}

.classcard-container {
    display: grid;
    grid-template:repeat(2, 1fr) / repeat(4, 1fr) ;
    grid-gap: 3px;
    justify-items: center;
    margin: 0.7em;
    padding: 1em 1em;
    }

.image-element img {
    height: 300px;
    width: 100%;  
    padding: 0px;
    margin: 0px;
    }

.card {
    color: #52796f;
    text-decoration: none;
}

.postpanel-1-header {
    height: 400px;
    width: 800px;
    padding: 0px;
    margin: 5px;
    color: #52796f;
    text-decoration: none;
}

.postpanel-1-header a{
    color: #2f3e46;
    text-decoration: none;
    position: relative;
    bottom: 100px;
}

.postpanel-1-main img {
    height: 400px;
    width: 300px;
    padding: 0px;
    margin: 5px;
    object-fit: cover;

}

.index-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.7em;
    padding: 1em 1em;
}

.index-footer {
    background-color:  #52796f;
    height: 10px;
    box-shadow: 0px 0px 10px grey;
    margin: 2em;
    padding: 1em 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.index-footer p {
    color: #cad2c5;
}

.index-footer button {
    background-color: #cad2c5;
    border-radius: 15px;
}

.index-footer input {
    background-color: #cad2c5;
}

.avatarImage {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border:3px solid #52796f;
    margin: 10px;
    position: relative;
    bottom: 136px;
    left: 160px;
 }

 .index-menu-div {
     position: relative;
     bottom: 120px;
 }

@media (min-width: 320px) and (max-width: 568px) {

    .index-menu {
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-content: center;
           
      }
    
    .postpanel-1-header {
        height: 200px;
        width: 300px;
        padding: 0px;
        margin: 5px;
    }
    
    .postpanel-1-main img {
        height: 200px;
        width: 300px;
        padding: 0px;
        margin: 5px;
        object-fit: cover;
    
    }
      
      .image-element {
            border-bottom: 0.3px solid grey;
      }
      
      .classcard-container {
          display: flex;
          flex-direction: column;
          margin: auto;
      }
      
      .index-footer {
          display: flex;
          flex-direction: column;
          justify-content:center ;
          height: 50px;
      }
    
    }
    
 
    