.text h1 {
    font-family: 'Tomorrow', sans-serif;;
    font-size: 80px;
    text-align: center;
    margin: 0;
    padding: 0.3em;
    color: rgb(71, 59, 59);
}

.classcard-container {
    display: grid;
    grid-template:repeat(2, 1fr) / repeat(4, 1fr) ;
    grid-gap: 3px;
    justify-items: center;
    margin: 0.7em;
    padding: 1em 1em;
    }

.image-element img {
    height: 300px;
    width: 100%;  
    }

.postpanel-1-header {
    height: 400px;
    width: 800px;
    padding: 0px;
    margin: 5px;
}

.postpanel-1-main img {
    height: 400px;
    width: 300px;
    padding: 0px;
    margin: 5px;
    object-fit: cover;

}

.index-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.7em;
    padding: 1em 1em;
}